<%- include('../partials/header') %>
<%- include('../partials/menu') %>
	<div class="container">
		<br>
		<div class="jumbotron">
		  <h1 class="display-4">Fall 2018 Stats</h1>
		  <p class="lead">Detailed information on how the Buffs are doing in the 2018 Football Season!</p>
		</div>
		
		<table class="table table-bordered" id="stats_table">
			<tr>
				<th class="align-bottom" rowspan="2">Game Date</th>
				<th class="align-bottom"rowspan="2">Opposing Team Name</th>
				<th class="text-center" colspan="2">Score</th>
				<th class="align-bottom" rowspan="2">Winner</th>
			</tr>
			<tr>
				<th>Home Score</th>
				<th>Opp. Score</th>
			</tr>
			<tr>
				<td>Aug. 31, 2020</td>
				<td>Colorado State</td>
				<td>45</td>
				<td>13</td>
				<td>Colorado Boulder</td>
			</tr>
			<tr>
				<td>Sept. 8, 2020</td>
				<td>Nebraska</td>
				<td>33</td>
				<td>28</td>
				<td>Colorado Boulder</td>
			</tr>
			<tr>
				<td>Sept. 15, 2020</td>
				<td>New Hampshire</td>
				<td>45</td>
				<td>14</td>
				<td>Colorado Boulder</td>
			</tr>
			<tr>
				<td>Sept. 28, 2020</td>
				<td>UCLA</td>
				<td>38</td>
				<td>16</td>
				<td>Colorado Boulder</td>
			</tr>
			<tr>
				<td>Oct. 6, 2020</td>
				<td>Arizona State</td>
				<td>28</td>
				<td>21</td>
				<td>Colorado Boulder</td>
			</tr>
			<tr>
				<td>Oct. 13, 2020</td>
				<td>Southern California</td>
				<td>20</td>
				<td>31</td>
				<td>Southern California</td>
			</tr>
			<tr>
				<td>Oct. 20, 2020</td>
				<td>Washington</td>
				<td>13</td>
				<td>27</td>
				<td>Washington</td>
			</tr>
			<tr>
				<td>Oct. 27, 2020</td>
				<td>Oregon State</td>
				<td>34</td>
				<td>41</td>
				<td>Oregon State</td>
			</tr>
			<tr>
				<td>Nov. 2, 2020</td>
				<td>Arizona</td>
				<td>34</td>
				<td>42</td>
				<td>Arizona</td>
			</tr>
			<tr>
				<td>Nov. 10, 2020</td>
				<td>Washington State</td>
				<td>7</td>
				<td>31</td>
				<td>Washington State</td>
			</tr>
			<tr>
				<td>Nov. 17, 2020</td>
				<td>Utah</td>
				<td>7</td>
				<td>30</td>
				<td>Utah</td>
			</tr>
			<tr>
				<td>Nov. 24, 2020</td>
				<td>California</td>
				<td>21</td>
				<td>33</td>
				<td>California</td>
			</tr>
			<table class="table text-center">
				<tr>
					<th>Wins</th>
					<th>Losses</th>
				</tr>
				<tr>
					<td id="wins">5</td>
					<td id="losses">7</td>
				</tr>
			</table>
			<!-- TODO: Iterate over the Football_table data here 
						1. Display the information for each row (date, name, home score, visitor score)
						2. Determine who the winner is and display it in the final column

						If you're not sure how the logic should work here, review the code you add to the client-side javascript
						that ran onload for Lab 5.  We are doing the same kind of operations we had in Lab 5, but we are instead having
						everything handled via server-side scriptes
			-->
		</table>
		<br>
		
	</div>
<%- include('../partials/footer') %>
